<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Test</title>
  
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
  <!-- REQUIRED 1/3 - AngularJS Core -->
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script src="angular.js"></script>
  <script src="ng-img-crop.js"></script>
  <link rel="stylesheet" href="ng-img-crop.css">

  <script type="text/javascript">
  var ImageUploadApp = angular.module('app', ['ngImgCrop'])
  ImageUploadApp.directive("fileUpload", function ($timeout,UploadService) {
    return {
      restrict: "EAC",
      scope:{
        errormsg:'@',
        errtype:'@',
        mycroppedimage:'@',
        myimage:'@'
      },
      template: ['<div class="alert alert-{{errtype}}" ng-if="errormsg">{{errormsg}}</div><div>Select an image file:[Support jpg, png files; size should be below 2MB] <input type="file" id="fileInput" /></div><div class="cropArea" ><img-crop image="myimage" result-image="mycroppedimage"></img-crop></div><div>Cropped Image:</div><div><img ng-src="{{mycroppedimage}}" id="croppedImage"/></div><div class="row"></br><button class="btn btn-info" ng-click="saveImage()">submit</button></div>'].join(""),
      link: function (scope, el, attr) {
          scope.$watch('mycroppedimage', function(newValue, oldValue) {
            scope.cropedVal = newValue;
          });
          scope.saveImage = function(){
            var res = UploadService.uploadFile(scope.cropedVal);
            scope.errormsg='Image uploaded successfully';
            scope.errtype='success';
            scope.myimage ='';
          };
      },
      controller: function ($rootScope,UploadService,$scope) {
       
        this.handleFileSelect=function(evt) {
          $rootScope.scopeVar ={'myImage':'','myCroppedImage':'','errorMsg':'','errType':''};
          var file=evt.currentTarget.files[0];
          var types=["image/jpeg","image/png"];
          var validateType = types.indexOf(file.type);
          if(validateType>-1){
             if(2048>=parseInt(file.size/1024)){
                var reader = new FileReader();
                reader.onload = function (evt) {
                  $rootScope.$apply(function($rootScope){
                    $rootScope.scopeVar ={'myImage':evt.target.result};
                  });
                };
                reader.readAsDataURL(file);
             }else{
                 $rootScope.scopeVar ={'myImage':'','errorMsg':'Size should be below 2MB','errType':'danger'};
                 $rootScope.$digest();
             }
          }else{
               $rootScope.scopeVar ={'myImage':'','errorMsg':'Invalid Format','errType':'danger'};
              $rootScope.$digest();
          }           
        };
        angular.element(document.querySelector('#fileInput')).on('change',this.handleFileSelect);
      }
    };
  })
  ImageUploadApp.service('UploadService', function ($http,$rootScope,$compile) {
    this.uploadFile = function(data){
      var url = 'upload.php';
      var fileData = new FormData();
      fileData.append('file', data);
      var a = $http.post(url, fileData, {
          transformRequest: angular.identity,
          headers: {'Content-Type': undefined}
       }).success(function(response){
        return response;
      });
    }
  });
  </script>
</head>
<body ng-app="app" >
  <div class="container">
    <file-upload errormsg="{{scopeVar.errorMsg}}" errtype="{{scopeVar.errType}}" myCroppedImage="{{scopeVar.myCroppedImage}}" myImage="{{scopeVar.myImage}}"></file-upload>
  </div>
</body>
</html>